{% extends "layout.html" %}
{% block content %}
<div class="container-fluid" style="margin-top: 10px">
    <h2><img src="{{ url_for('static', filename='img/aws/iam.png') }}"> Amazon IAM</h2>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="info">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created Date</th>
            <th>Password Last Used</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user['user_name'] }}</td>
            <td>{{ user['create_date']}}</td>
            <td>{{ user['password_last_used']}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>      
</div>
{% endblock %}
